@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: Cascadia;
    src: url(CascadiaCode.TTF);
}

@keyframes start {
    0% {
        opacity: 0;
    }

    18% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html {
    user-select: none;
    -webkit-user-select: none;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    overflow: hidden;
    font-family: Cascadia;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border: 2px solid #18181b;

    &[page="LOGIN"] main[name="LOGIN"] {
        display: flex;
    }

    &[page="PANEL"] main[name="PANEL"] {
        display: flex;
    }
}

header {
    top: 0;
    width: 100%;
    height: 25px;
    display: flex;
    app-region: drag;
    position: absolute;
    align-items: center;
    background-color: #141313;

    span {
        width: 100%;
        display: block;
        text-align: center;

        font-size: 12px;
        letter-spacing: 1.30px;

        @apply text-violet-300;
    }

    button {
        position: absolute;
    }
}

main {
    width: 100%;
    height: 100%;

    display: none;
    align-self: center;
    background-color: black;

    @apply rounded-lg;
    @apply text-zinc-100;

    &[name="LOGIN"] {
        align-items: center;
        justify-content: center;

        nav {
            width: 90%;
            display: flex;
            flex-direction: column;

            @apply h-fit;
            @apply rounded-md;
            @apply text-zinc-100;

            img.icon {
                width: 130px;
                align-self: center;

                @apply mt-10;
            }

            menu {
                @apply mt-1;
                width: 100%;
                height: 100%;

                input {
                    margin: 5px 30px;
                    padding: 8px 10px;

                    font-size: 13px;
                    letter-spacing: 1.18px;

                    width: calc(100% - 60px);

                    @apply rounded-sm;
                    @apply bg-zinc-800;
                    @apply text-violet-300;

                    &:focus {
                        outline: none;
                    }

                    &:first-child {
                        margin-top: 18px;
                    }

                    &[type="password"]::-ms-clear,
                    &[type="password"]::-ms-reveal {
                        display: none;
                    }
                }

                div {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    button {
                        padding: 5px 18px;
                        margin-bottom: 18px;
                        letter-spacing: 1.3px;

                        @apply mt-3;
                        @apply w-fit;
                        @apply rounded-sm;
                        @apply bg-zinc-900;

                        span {
                            @apply text-white;
                        }

                        &:hover {
                            @apply bg-zinc-700;

                            span {
                                @apply text-violet-300;
                            }
                        }

                        & svg {
                            @apply fill-violet-300;
                        }
                    }

                    span {
                        width: 100%;
                        height: 20px;
                        font-size: 12px;
                        margin-top: 5px;
                        text-align: center;
                        margin-bottom: 18px;

                        @apply text-red-300;
                    }
                }
            }
        }
    }

    &[name="PANEL"] {
        margin-top: 25px;
        animation-name: start;
        animation-duration: 800ms;
        height: calc(100% - 25px);
        position: absolute;

        nav {
            height: 100%;
            display: flex;
            flex-direction: column;

            &:nth-child(1) {
                width: 12.5rem;
                margin-right: 0.25rem;

                &.BYPASS {
                    width: 100%;
                    margin: 0.25rem;

                    .location {
                        margin-top: 0;
                    }

                    menu:last-child {
                        margin-bottom: 0.5rem;
                    }
                }

                menu {
                    display: flex;
                    padding: 5px 8px;
                    margin-top: 0.25rem;
                    align-items: center;
                    flex-direction: column;

                    @apply bg-zinc-900;

                    &:first-child {
                        margin-top: 0;
                    }

                    &[license="false"] {
                        display: none;
                    }

                    &.main {
                        padding: 0;
                        flex-direction: column;

                        button {
                            width: 100%;
                            font-size: 15px;

                            margin: 1px 0;
                            padding: 5px 0px;
                            letter-spacing: 1.3px;

                            &:hover,
                            &.selected {
                                @apply bg-zinc-800;
                                @apply text-violet-300;
                            }

                            &:first-child {
                                margin-top: 0;
                            }

                            &[license="false"] {
                                display: none;
                            }
                        }
                    }

                    &.location {
                        height: 100%;
                        padding: 0px;
                        margin-top: 0.25rem;
                        flex-direction: column;

                        i {
                            margin-top: 0.18rem;
                            width: 100%;
                            display: block;
                            font-size: 13px;
                            font-style: normal;
                            text-align: center;

                            &:first-child {
                                margin-top: 0;
                            }
                        }

                        div {
                            width: 100%;
                            display: flex;
                            align-items: center;

                            cursor: pointer;
                            padding: 3px 15px;

                            span {
                                width: 100%;
                                font-size: 13px;
                            }

                            button {
                                width: 20px;
                                height: 10px;
                                border-radius: 30px;

                                @apply bg-transparent;
                                @apply shadow-violet-500;
                                --tw-shadow-colored: 0 0px 8px 0 var(--tw-shadow-color);
                                box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                            }

                            &.injecting {
                                animation-name: blink;
                                animation-duration: 800ms;
                                animation-iteration-count: infinite;
                            }

                            &:hover,
                            &.injected,
                            &.injecting {
                                span {
                                    @apply text-violet-500;
                                }

                                button {
                                    @apply shadow-violet-800;
                                }
                            }
                        }
                    }

                    &#EXTRA {
                        div {
                            width: 100%;
                            display: flex;
                            cursor: pointer;
                            margin-top: 0.25rem;
                            align-items: center;
                            padding: 5px 0;

                            &.data {
                                flex-direction: column;
                            }

                            &[license="false"] {
                                display: none;
                            }

                            span {
                                width: 100%;
                                font-size: 12px;
                                letter-spacing: 1.3px;
                            }

                            &:hover,
                            &.injected,
                            &.injecting {
                                span {
                                    @apply text-violet-500;
                                }

                                button {
                                    @apply shadow-violet-800;
                                }
                            }

                            &.injecting {
                                animation-name: blink;
                                animation-duration: 800ms;
                                animation-iteration-count: infinite;
                            }

                            button {
                                width: 25px;
                                height: 13px;
                                margin-left: 8px;
                                border-radius: 30px;

                                @apply bg-transparent;
                                @apply shadow-violet-500;
                                --tw-shadow-colored: 0 0px 15px 0 var(--tw-shadow-color);
                                box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                            }
                        }
                    }

                    &.info {
                        padding: 0 8px;
                        @apply flex-col;

                        div {
                            width: 100%;
                            display: flex;
                            flex-direction: column;

                            span {
                                font-size: 13px;

                                err {
                                    @apply text-red-300;
                                }

                                data {
                                    @apply text-violet-300;
                                }
                            }

                            &.data span.expiry time {
                                width: 100%;
                                display: block;
                                font-size: 11px;
                                margin-top: 5px;
                                text-align: center;

                                @apply text-zinc-400;
                            }

                            &:last-child span {
                                width: 100%;
                                text-align: center;

                                font-weight: bold;
                                margin-bottom: 3px;
                                letter-spacing: 1.18px;

                                @apply text-violet-300;
                            }
                        }
                    }
                }
            }

            &:nth-child(2) {
                width: calc(100% - 13rem);

                &[license="false"] {
                    display: none;
                }

                div#main {
                    width: 100%;
                    height: calc(67% - 0.25rem);

                    page {
                        width: 100%;
                        height: 100%;
                        display: none;

                        &[license="false"] {
                            display: none;
                        }

                        &>div {
                            width: 100%;
                            height: 100%;
                            padding: 8px;

                            menu {
                                border: 0.8px solid;
                                padding: 10px 8px;
                                position: relative;

                                @apply mt-4;
                                @apply rounded-md;
                                @apply border-zinc-500;

                                &:before {
                                    content: attr(name);
                                    top: -8px;
                                    left: 10px;
                                    padding: 0px 5px;
                                    position: absolute;
                                    letter-spacing: 1.35px;

                                    font-size: 13px;
                                    background-color: black;
                                }

                                &[license="false"] {
                                    display: none;
                                }

                                &:first-child {
                                    margin-top: 0;
                                }

                                div {
                                    display: flex;
                                    padding: 3px 0;
                                    cursor: pointer;
                                    align-items: center;

                                    &[license="false"] {
                                        display: none;
                                    }

                                    span {
                                        width: 100%;
                                        font-size: 12px;
                                        padding-left: 8px;
                                        letter-spacing: 1.3px;
                                    }

                                    &:hover,
                                    &.injected,
                                    &.injecting {
                                        span {
                                            @apply text-violet-500;
                                        }

                                        button {
                                            @apply shadow-violet-800;
                                        }

                                        bind.added {
                                            @apply bg-violet-950;
                                        }
                                    }

                                    &.injecting {
                                        animation-name: blink;
                                        animation-duration: 800ms;
                                        animation-iteration-count: infinite;
                                    }
                                }

                                button {
                                    width: 25px;
                                    height: 13px;
                                    margin-left: 8px;
                                    border-radius: 30px;

                                    @apply bg-transparent;
                                    @apply shadow-violet-500;
                                    --tw-shadow-colored: 0 0px 15px 0 var(--tw-shadow-color);
                                    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                                }

                                bind {
                                    padding: 0 8px;
                                    cursor: pointer;
                                    margin-left: 5px;
                                    line-height: 13px;
                                    border-radius: 3px;

                                    @apply bg-zinc-800;

                                    &.added {
                                        padding: 3px 8px;
                                        font-size: 12px;

                                        @apply bg-violet-800;
                                    }
                                }
                            }
                        }
                    }

                    &[page="AIM"] {
                        page#AIM {
                            display: flex;
                        }
                    }

                    &[page="BRUTAL"] {
                        page#BRUTAL {
                            display: flex;
                        }
                    }

                    &[page="EXPERIMENTAL"] {
                        page#EXPERIMENTAL {
                            display: flex;

                            &>div {
                                &:nth-child(1) {
                                    width: 150%;
                                }
                            }
                        }
                    }
                }

                div#terminal {
                    width: 100%;
                    height: calc(33% - 0.25rem);
                    margin-top: 0.25rem;
                    padding: 5px 10px 0 10px;

                    overflow-y: scroll;
                    @apply bg-zinc-950;

                    span {
                        display: block;
                        font-size: 12px;

                        err {
                            @apply text-red-300;
                        }

                        data {
                            @apply text-violet-300;
                        }

                        time {
                            @apply mr-2;
                            @apply text-zinc-400;
                        }

                        &:last-child {
                            height: 30%;
                        }
                    }

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }
    }
}