@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: Cascadia;
    src: url(CascadiaCode.TTF);
}

@keyframes start {
    0% {
        opacity: 0;
    }

    18% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html {
    user-select: none;
    -webkit-user-select: none;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    overflow: hidden;
    font-family: Cascadia;
    flex-direction: column;
    justify-content: center;
    background-color: black;

    @apply border-2;
    @apply border-color-950;

    &[page="LOGIN"] main[name="LOGIN"] {
        display: flex;
    }

    &[page="LOGIN"] header>div:first-child {
        display: none;
    }

    &[page="PANEL"] main[name="PANEL"] {
        display: flex;
    }

    &[page="BYPASS"] main[name="BYPASS"] {
        display: flex;
    }
}

button {
    outline: none;
}

header {
    top: -1px;
    width: 100%;
    height: 30px;
    display: flex;
    app-region: drag;
    position: absolute;
    align-items: center;

    @apply bg-color-950;

    span {
        width: 100%;
        display: block;
        text-align: center;

        font-size: 13px;
        letter-spacing: 1.10px;

        @apply text-color-300;
    }

    div {
        display: flex;
        position: absolute;
        flex-direction: row;

        &:first-child {
            justify-content: flex-start;

            button {
                margin-right: 5px;
            }
        }

        &:last-child {
            right: 3px;
            justify-content: flex-end;
        }
    }

    version {
        font-size: 12px;
        margin-left: 5px;
        letter-spacing: 0.6px;

        @apply text-color-700;
    }

    button {
        app-region: no-drag;
        margin-left: 5px;
        margin-right: 5px;

        svg {
            width: 20px;
            height: 20px;

            @apply fill-color-300;
        }

        &:hover svg {
            @apply fill-color-500;
        }

        &.close:hover svg {
            @apply fill-red-800;
        }

        &.minimize svg {
            width: 13px;
        }

        &.stream,
        &.internet {
            position: relative;

            &::after {
                content: " ";
                position: absolute;
                border-radius: 5px;

                width: 8px;
                right: -2px;
                height: 8px;
                bottom: 0px;
            }

            &.active::after {
                @apply bg-green-500;
            }

            &.inactive::after {
                @apply bg-red-500;
            }
        }

        &.internet svg {
            width: 17px;
            height: 17px;
            margin-top: -3px;
        }
    }
}

main {
    width: 100%;
    height: 100%;

    display: none;
    align-self: center;

    @apply bg-black;
    @apply text-zinc-100;

    &[name="LOGIN"] {
        align-items: center;
        justify-content: center;

        nav {
            width: 95%;
            display: flex;
            flex-direction: column;

            @apply h-fit;
            @apply rounded-md;
            @apply text-zinc-100;

            img.icon {
                width: 130px;
                align-self: center;

                @apply mt-10;
            }

            menu {
                @apply mt-1;
                width: 100%;
                height: 100%;

                input {
                    margin: 5px 30px;
                    padding: 8px 10px;

                    font-size: 13px;
                    letter-spacing: 1.18px;

                    width: calc(100% - 60px);

                    @apply rounded-sm;
                    @apply bg-zinc-800;
                    @apply text-color-300;

                    &:focus {
                        outline: none;
                    }

                    &:first-child {
                        margin-top: 18px;
                    }

                    &[type="password"]::-ms-clear,
                    &[type="password"]::-ms-reveal {
                        display: none;
                    }
                }

                div {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    button {
                        padding: 5px 18px;
                        margin-bottom: 18px;
                        letter-spacing: 1.3px;

                        @apply mt-3;
                        @apply w-fit;
                        @apply rounded-sm;
                        @apply bg-zinc-900;

                        span {
                            @apply text-white;
                        }

                        &:hover {
                            @apply bg-zinc-700;

                            span {
                                @apply text-color-300;
                            }
                        }

                        & svg {
                            @apply fill-color-300;
                        }
                    }

                    span {
                        width: 100%;
                        height: 20px;
                        font-size: 13px;
                        margin-top: 5px;
                        text-align: center;
                        margin-bottom: 18px;

                        @apply text-red-300;
                    }
                }
            }
        }
    }

    &[name="BYPASS"] {
        margin-top: 26px;
        flex-direction: column;

        position: absolute;
        animation-name: start;
        animation-duration: 800ms;

        width: calc(100% - 4px);
        height: calc(100% - 30px);

        menu {
            display: flex;
            padding: 5px 8px;
            align-items: center;
            flex-direction: column;

            @apply bg-zinc-900;

            &.location {
                height: 100%;
                flex-direction: column;

                @apply border-b-2;
                @apply border-black;

                i {
                    margin-top: 0.18rem;
                    width: 100%;
                    display: block;
                    font-size: 13px;
                    font-style: normal;
                    text-align: center;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                div {
                    width: 100%;
                    display: none;
                    align-items: center;

                    cursor: pointer;
                    padding: 2px 15px;

                    span {
                        width: 100%;
                        opacity: 0.40;
                        font-size: 13px;
                        letter-spacing: 1.3px;
                        @apply text-color-100;
                    }

                    button {
                        width: 20px;
                        height: 10px;
                        border-radius: 30px;

                        @apply bg-transparent;
                        @apply shadow-color-500;
                        --tw-shadow-colored: 0 0px 5px 0 var(--tw-shadow-color);
                        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                    }

                    &.injecting {
                        animation-name: blink;
                        animation-duration: 800ms;
                        animation-iteration-count: infinite;
                    }

                    &:hover,
                    &.injected,
                    &.injecting {
                        span {
                            opacity: 1;
                            @apply text-color-500;
                        }

                        button {
                            @apply shadow-color-800;
                        }
                    }
                }

                &.ALL div {
                    display: flex;
                }

                &._3D div[name="3D"] {
                    display: flex;
                }

                &.BOX div[name="BOX"] {
                    display: flex;
                }

                &.MENU div[name="MENU"] {
                    display: flex;
                }

                &.MOCO div[name="MOCO"] {
                    display: flex;
                }

                &.LINE div[name="LINE"] {
                    display: flex;
                }

                &.COLOR-RED div[name="COLOR[RED]"] {
                    display: flex;
                }

                &.COLOR-BLUE div[name="COLOR[BLUE]"] {
                    display: flex;
                }

                &.COLOR-WHITE div[name="COLOR[WHITE]"] {
                    display: flex;
                }
            }

            &.bypass {
                padding: 15px;

                &>div:first-child {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span.title {
                        text-align: center;
                        margin-bottom: 10px;
                        letter-spacing: 1.50px;

                        @apply text-color-500;
                    }

                    &>div {
                        width: 90%;
                        display: flex;
                        align-items: center;

                        cursor: pointer;
                        padding: 3px 15px;
                        position: relative;
                        margin-bottom: 10px;

                        span {
                            width: 100%;
                            font-size: 13px;
                        }

                        button {
                            width: 20px;
                            right: 20px;
                            height: 10px;
                            position: absolute;
                            border-radius: 30px;

                            @apply bg-transparent;
                            @apply shadow-color-500;
                            --tw-shadow-colored: 0 0px 5px 0 var(--tw-shadow-color);
                            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                        }

                        &.injecting {
                            animation-name: blink;
                            animation-duration: 800ms;
                            animation-iteration-count: infinite;
                        }

                        &:hover,
                        &.injected,
                        &.injecting {
                            span {
                                @apply text-color-500;
                            }

                            button {
                                @apply shadow-color-800;
                            }
                        }
                    }
                }

                button.inject {
                    margin: 0px 20px;
                    width: 100%;
                    padding: 8px 0px;
                    font-size: 13px;
                    border-radius: 5px;
                    letter-spacing: 1.18px;

                    @apply border-2;
                    @apply shadow-sm;
                    @apply bg-color-900/30;
                    @apply border-color-800;
                    @apply shadow-color-500/50;

                    &:hover {
                        @apply bg-color-800/30;
                        @apply border-color-700;
                        @apply shadow-color-600/50;
                    }
                }
            }

            &.xterm {
                height: 80%;
                padding: 3px;
                display: flex;

                @apply border-t-2;
                @apply border-black;

                div.xterm {
                    width: 100%;
                    height: 100%;
                    padding: 5px 10px 0 10px;

                    overflow-y: scroll;
                    @apply bg-zinc-950;

                    span {
                        display: block;
                        font-size: 12px;

                        data {
                            @apply text-color-300;
                        }

                        error {
                            @apply text-red-600;
                        }

                        time {
                            @apply mr-2;
                            @apply text-zinc-400;
                        }

                        &:last-child {
                            height: 30%;
                        }
                    }

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }

            &.info {
                padding: 0 8px;
                @apply flex-col;

                div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    &.data span.expiry time {
                        width: 100%;
                        display: block;
                        font-size: 11px;
                        margin-top: 5px;
                        text-align: center;

                        @apply text-zinc-400;
                    }

                    &:last-child span {
                        width: 100%;
                        text-align: center;

                        font-weight: bold;
                        margin-bottom: 3px;
                        letter-spacing: 1.18px;

                        @apply text-color-300;
                    }
                }
            }
        }
    }

    &[name="PANEL"] {
        margin-top: 26px;

        position: absolute;
        animation-name: start;
        animation-duration: 800ms;

        width: calc(100% - 4px);
        height: calc(100% - 30px);

        nav {
            height: 100%;
            display: flex;
            flex-direction: column;

            &:nth-child(1) {
                width: 13.5rem;
                margin-right: 2px;

                menu {
                    display: flex;
                    padding: 5px 8px;
                    margin-top: 2px;
                    align-items: center;
                    flex-direction: column;

                    @apply bg-zinc-900;

                    &:first-child {
                        margin-top: 0;
                    }

                    &[license="false"] {
                        display: none;
                    }

                    &.main {
                        padding: 0;
                        flex-direction: column;

                        button {
                            width: 100%;
                            font-size: 15px;

                            margin: 1px 0;
                            padding: 5px 0px;
                            letter-spacing: 1.3px;

                            &:hover,
                            &.selected {
                                @apply bg-zinc-800;
                                @apply text-color-500;
                            }

                            &:first-child {
                                margin-top: 0;
                            }

                            &[license="false"] {
                                display: none;
                            }
                        }
                    }

                    &.location {
                        height: 100%;
                        padding: 0px;
                        margin-top: 2px;
                        flex-direction: column;

                        i {
                            margin-top: 0.18rem;
                            width: 100%;
                            display: block;
                            font-size: 13px;
                            font-style: normal;
                            text-align: center;

                            &:first-child {
                                margin-top: 0;
                            }
                        }

                        div {
                            width: 100%;
                            display: none;
                            position: relative;
                            align-items: center;

                            cursor: pointer;
                            padding: 2px 15px;

                            span {
                                width: 100%;
                                opacity: 0.40;
                                font-size: 13px;
                                letter-spacing: 1.3px;
                                @apply text-color-100;
                            }

                            button {
                                right: 15px;
                                width: 20px;
                                height: 10px;
                                position: absolute;
                                border-radius: 30px;

                                @apply bg-transparent;
                                @apply shadow-color-500;
                                --tw-shadow-colored: 0 0px 5px 0 var(--tw-shadow-color);
                                box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                            }

                            &.injecting {
                                animation-name: blink;
                                animation-duration: 800ms;
                                animation-iteration-count: infinite;
                            }

                            &:hover,
                            &.injected,
                            &.injecting {
                                span {
                                    opacity: 1;
                                    @apply text-color-500;
                                }

                                button {
                                    @apply shadow-color-800;
                                }
                            }
                        }

                        &.ALL div {
                            display: flex;
                        }

                        &._3D div[name="3D"] {
                            display: flex;
                        }

                        &.BOX div[name="BOX"] {
                            display: flex;
                        }

                        &.MENU div[name="MENU"] {
                            display: flex;
                        }

                        &.MOCO div[name="MOCO"] {
                            display: flex;
                        }

                        &.LINE div[name="LINE"] {
                            display: flex;
                        }

                        &.COLOR-RED div[name="COLOR[RED]"] {
                            display: flex;
                        }

                        &.COLOR-BLUE div[name="COLOR[BLUE]"] {
                            display: flex;
                        }

                        &.COLOR-WHITE div[name="COLOR[WHITE]"] {
                            display: flex;
                        }
                    }

                    &.bypass {
                        padding-bottom: 10px;

                        &>div:first-child {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            span.title {
                                font-size: 13px;
                                text-align: center;
                                margin-bottom: 5px;
                                letter-spacing: 1.50px;

                                @apply text-color-500;
                            }

                            &>div {
                                width: 98%;
                                display: flex;
                                align-items: center;

                                cursor: pointer;
                                padding: 3px 15px;
                                position: relative;
                                margin-bottom: 5px;

                                span {
                                    width: 100%;
                                    font-size: 13px;
                                }

                                button {
                                    width: 20px;
                                    height: 10px;
                                    right: 15px;
                                    position: absolute;
                                    border-radius: 30px;

                                    @apply bg-transparent;
                                    @apply shadow-color-500;
                                    --tw-shadow-colored: 0 0px 5px 0 var(--tw-shadow-color);
                                    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                                }

                                &.injecting {
                                    animation-name: blink;
                                    animation-duration: 800ms;
                                    animation-iteration-count: infinite;
                                }

                                &:hover,
                                &.injected,
                                &.injecting {
                                    span {
                                        @apply text-color-500;
                                    }

                                    button {
                                        @apply shadow-color-800;
                                    }
                                }
                            }
                        }

                        button.inject {
                            width: 98%;
                            padding: 8px 0px;
                            font-size: 11px;
                            line-height: 11px;
                            border-radius: 5px;
                            letter-spacing: 1.18px;

                            @apply border-2;
                            @apply shadow-sm;
                            @apply bg-color-900/30;
                            @apply border-color-800;
                            @apply shadow-color-500/50;

                            &:hover {
                                @apply bg-color-800/30;
                                @apply border-color-700;
                                @apply shadow-color-600/50;
                            }
                        }
                    }

                    &#EXTRA {
                        div {
                            width: 100%;
                            display: flex;
                            cursor: pointer;
                            margin-top: 2px;
                            align-items: center;
                            padding: 5px 0;
                            position: relative;

                            &.data {
                                flex-direction: column;
                            }

                            &[license="false"] {
                                display: none;
                            }

                            span {
                                width: 100%;
                                font-size: 12px;
                                letter-spacing: 1.3px;
                            }

                            &:hover,
                            &.injected,
                            &.injecting {
                                span {
                                    @apply text-color-500;
                                }

                                button {
                                    @apply shadow-color-800;
                                }
                            }

                            &.injecting {
                                animation-name: blink;
                                animation-duration: 800ms;
                                animation-iteration-count: infinite;
                            }

                            button {
                                right: 5px;
                                width: 25px;
                                height: 13px;
                                margin-left: 8px;
                                position: absolute;
                                border-radius: 30px;

                                @apply bg-transparent;
                                @apply shadow-color-500;
                                --tw-shadow-colored: 0 0px 8px 0 var(--tw-shadow-color);
                                box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                            }
                        }
                    }

                    &.info {
                        padding: 0 8px;
                        @apply flex-col;

                        div {
                            width: 100%;
                            display: flex;
                            flex-direction: column;

                            span {
                                font-size: 13px;

                                err {
                                    @apply text-red-600;
                                }

                                data {
                                    @apply text-color-300;
                                }
                            }

                            &.data span.expiry time {
                                width: 100%;
                                display: block;
                                font-size: 11px;
                                margin-top: 5px;
                                text-align: center;

                                @apply text-zinc-400;
                            }

                            &:last-child span {
                                width: 100%;
                                text-align: center;

                                font-weight: bold;
                                margin-bottom: 3px;
                                letter-spacing: 1.18px;

                                @apply text-color-300;
                            }
                        }
                    }
                }
            }

            &:nth-child(2) {
                width: calc(100% - 13.75rem);

                &[license="false"] {
                    display: none;
                }

                div#main {
                    width: 100%;
                    height: calc(67% - 2px);

                    page {
                        width: 100%;
                        height: 100%;
                        display: none;

                        &[license="false"] {
                            display: none;
                        }

                        &>div {
                            width: 100%;
                            height: 100%;
                            padding: 8px;

                            menu {
                                border: 0.8px solid;
                                padding: 10px 8px;
                                position: relative;

                                @apply mt-4;
                                @apply rounded-md;
                                @apply border-zinc-900;

                                &:before {
                                    content: attr(name);
                                    top: -8px;
                                    left: 10px;
                                    padding: 0px 5px;
                                    position: absolute;
                                    letter-spacing: 1.35px;

                                    color: black;
                                    font-size: 13px;
                                    background-color: black;
                                }

                                &::after {
                                    content: attr(name);
                                    top: -8px;
                                    left: 10px;
                                    padding: 0px 5px;
                                    position: absolute;
                                    letter-spacing: 1.35px;
                                    opacity: 0.5;

                                    font-size: 13px;
                                    background-color: black;
                                }

                                &[license="false"] {
                                    display: none;
                                }

                                &:first-child {
                                    margin-top: 0;
                                }

                                div {
                                    display: flex;
                                    padding: 3px 0;
                                    cursor: pointer;
                                    align-items: center;

                                    &[license="false"] {
                                        display: none;
                                    }

                                    span {
                                        width: 100%;
                                        font-size: 12px;
                                        padding-left: 8px;
                                        letter-spacing: 1.3px;
                                    }

                                    &:hover,
                                    &.injected,
                                    &.injecting {
                                        span {
                                            @apply text-color-500;
                                        }

                                        button {
                                            @apply shadow-color-800;
                                        }

                                        bind.added {
                                            @apply bg-color-950;
                                        }
                                    }

                                    &.injecting {
                                        animation-name: blink;
                                        animation-duration: 800ms;
                                        animation-iteration-count: infinite;
                                    }
                                }

                                button {
                                    width: 25px;
                                    height: 13px;
                                    margin-left: 8px;
                                    border-radius: 30px;

                                    @apply bg-transparent;
                                    @apply shadow-color-500;
                                    --tw-shadow-colored: 0 0px 8px 0 var(--tw-shadow-color);
                                    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                                }

                                bind {
                                    padding: 0 8px;
                                    cursor: pointer;
                                    margin-left: 5px;
                                    line-height: 13px;
                                    border-radius: 3px;

                                    @apply bg-zinc-800;

                                    &.added {
                                        padding: 3px 8px;
                                        font-size: 12px;

                                        @apply bg-color-800;
                                    }
                                }
                            }
                        }
                    }

                    &[page="AIM"] {
                        page#AIM {
                            display: flex;
                        }
                    }

                    &[page="BRUTAL"] {
                        page#BRUTAL {
                            display: flex;
                        }
                    }

                    &[page="EXPERIMENTAL"] {
                        page#EXPERIMENTAL {
                            display: flex;

                            &>div {
                                &:nth-child(1) {
                                    width: 150%;
                                }
                            }
                        }
                    }
                }

                div#terminal {
                    width: 100%;
                    height: calc(33% - 2px);
                    margin-top: 2px;
                    padding: 5px 10px 0 10px;

                    overflow-y: scroll;
                    @apply bg-zinc-950;

                    span {
                        display: block;
                        font-size: 12px;

                        data {
                            @apply text-color-300;
                        }

                        error {
                            @apply text-red-600;
                        }

                        time {
                            @apply mr-2;
                            @apply text-zinc-400;
                        }

                        &:last-child {
                            height: 30%;
                        }
                    }

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }
    }
}